/* reset css */

@font-face {
    font-family: "BebasNeue-Regular";
    /*apelido ou nome da fonte*/
    src: url(../assets/fonts/bebas_neue/BebasNeue-Regular.ttf);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.layout-grid {
    height: 100%;
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    /* border: 3px solid red; */
}

header {
    background-color: #f9003d;
    height: 60px;
}

header .header-flex {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

header nav {
    display: flex;
    justify-content: space-evenly;
    border-radius: 5px;
    border: 1px solid white;
    width: 600px;
    border: 2px solid white;
}

header nav a {
    padding: 15px 25px;
    font-family: "BebasNeue-Regular";
    color: white;
    text-decoration: none;
    letter-spacing: 2px;
    text-transform: uppercase;
}


/*ao passar o mouse */

header nav a:hover {
    background-color: white;
    color: #f9003d;
}


/* Main*/

main .banner {
    width: 100%;
    height: 740px;
    color: white;
    background-image: url(../assets/images/assets_/imagem-fundo-banner.png);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: bottom;
}

main .banner-flex {
    display: flex;
    align-items: center;
}

main .banner #bannerinfo {
    width: 550px;
    border: 2px solid yellow;
}

main .banner #bannerinfo h1 {
    margin-bottom: 40px;
    padding-bottom: 30px;
    font-family: BebasNeue-Regular;
    font-size: 96px;
    border-bottom: 2px solid #ffaf00;
}

main .banner #bannerinfo p {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 53px;
    font-weight: bold;
    text-transform: uppercase;
    color: #f9003d;
}

main .sla #projetos h1 {
    margin-bottom: 40px;
    font-family: 'Courier New', Courier, monospace;
}